* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 95vh;
    background: white;
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (min-width: 1000px) {
    .logo {
        max-width: 20rem;
    }
}

.logo {
    width:60%;
    margin: auto;
    display: block;
}

h1 {
    margin: auto;
    display: block;
    width: auto;
    text-align: center;
    color: #4a168d;
    letter-spacing: .4px;
}

a {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 100;
    display: block;
    letter-spacing: 1.2px;
    width: auto;
    text-align: center;
    text-decoration: underline;
    color: #4a168d;
}
